@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Serif');
body {
  font-family: 'Noto Serif', serif;
  color: #444;
  font-size: 14px;
}

body,
p,
span,
div,
article,
section,
li,
b,
em,
strong {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

#content {
  margin: 0px auto;
}

@media screen and (min-width: 980px)
/* Desktop */

{
  #content {
    width: 70%;
  }
}

@media screen and (max-width: 979px)
/* Tablet */

{
  #content {
    width: 80%;
  }
}

@media screen and (max-width: 500px)
/* Mobile */

{
  #content {
    width: 95%;
  }
}

header h1 {
  font-size: 48px;
}

header p {
  font-size: 18px;
  color: #999;
}

#content>* {
  padding: 10px 0 ;
}

#contact {
  font-size: 14px;
  color: #999;
}

#contact span,
#contact a {
  margin-left: 48px;
  color: #999;
}

#contact a {
  text-decoration: none;
  transition: color 0.6s;
}

#contact a:hover {
  color: #3da8d8;
}

.segment {
  display: flex;
}

.segment>header {
  width: 200px;
  flex: 0 200px;
  font-size: 24px;
}

.segment>section {
  max-width: 700px;
  margin-top: 8px;
}

.item h1 {
  font-size: 16px;
  color: #666;
}

.item h1 span {
  font-size: 12px;
  color: #999;
}

.unlist {
  padding: 0px;
  margin: 0px;
  list-style: none;
}